body {
    background-color: #222;
}

circle, line, polygon {
    stroke: #E3E3E3;
    stroke-width: 3px;
    fill:none;
}

circle {
    stroke: #E3E3E3;
    stroke-width: 1px;
    opacity: 0.5;
}

polygon {
    stroke: #FF1A2D;
    stroke-width: 2px;
    fill:#EF1A2D;
    fill-opacity:.3;
}


text {
    font-family: 'Helvetica';
    font-size:12px;
    font-weight: bold;
    stroke: none;
    fill:#CCCCCC;
    alignment-baseline: middle;
}



line.axis {
    stroke-width: 1px;
    opacity: .5;
}