.template {
  height: 100%;
  overflow-wrap: break-word;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('../img/background_road.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.boder_img {
  width: 5%;
}
.border {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.leaderboard {
  position: relative;
  transform: translate(25px);
}

.leaderboardItem {
  border-radius: 32px;
  transition: width 0.5s ease-out, background-color 0.3s ease-out;
}

.itemName {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-block: 0;
  margin-left: 8px;
}

.leaderboardScore {
  margin: 0;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 6px;
}

.leaderboardPosition {
  margin: 0;
  margin-left: -0.5em;
  text-align: right;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  width: 35px;
}

.itemContainer {
  display: flex;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
}

.halfDiv {
  width: 60%;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.leader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

