/* Template styling */
.template {
    height: 100%;
    overflow-wrap: break-word;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../img/background_road.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/* Example CSS */
#driverteamrelation {
    /* Add necessary styles */
    border: 1px solid black;
}

.border {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow : 1;
    align-items: center;
    overflow: hidden;
}

.content h1 {
    font-size: 3rem;
    color: #fff;
    margin-top: -1rem;
    margin-bottom: -2em;
    padding: 0;
}

.boder_img {
    width: 5%;
}

/* Define classes for each team with their respective colors */
.team-McLaren {
    fill: #FF8700;
    stroke: #FF8700;
    opacity: 0.8;
}

.team-Mercedes {
    fill: #00D2BE;
    stroke: #00D2BE;
    opacity: 0.8;
}

.team-Renault {
    fill: #FFF500;
    stroke: #FFF500;
    opacity: 0.8;
}

.team-Ferrari {
    fill: #DC0000;
    stroke: #DC0000;
    opacity: 0.8;
}

.team-Aston-Martin {
    fill: #006F62;
    stroke: #006F62;
    opacity: 0.8;
}

.team-Alpine-F1-Team {
    fill: #0090FF;
    stroke: #0090FF;
    opacity: 0.8;
}

.team-Lotus {
    fill: #FFB800;
    stroke: #FFB800;
    opacity: 0.8;
}

.team-Caterham {
    fill: #00352F;
    stroke: #00352F;
    opacity: 0.8;
}

.team-Lotus-F1 {
    fill: #FFB800;
    stroke: #FFB800;
    opacity: 0.8;
}

.team-Alfa-Romeo {
    fill: #900000;
    stroke: #900000;
    opacity: 0.8;
}

.team-Williams {
    fill: #005AFF;
    stroke: #005AFF;
    opacity: 0.8;
}

.team-Virgin {
    fill: #E31837;
    stroke: #E31837;
    opacity: 0.8;
}

.team-Marussia {
    fill: #D40000;
    stroke: #D40000;
    opacity: 0.8;
}

.team-Force-India {
    fill: #FF8700;
    stroke: #FF8700;
    opacity: 0.8;
}

.team-Sauber {
    fill: #006EFF;
    stroke: #006EFF;
    opacity: 0.8;
}

.team-Red-Bull {
    fill: #1E41FF;
    stroke: #1E41FF;
    opacity: 0.8;
}

.team-HRT {
    fill: #BEBEBE;
    stroke: #BEBEBE;
    opacity: 0.8;
}

.team-Toro-Rosso {
    fill: #0032FF;
    stroke: #0032FF;
    opacity: 0.8;
}

.team-Haas-F1-Team {
    fill: #787878;
    stroke: #787878;
    opacity: 0.8;
}

.team-Racing-Point {
    fill: #F596C8;
    stroke: #F596C8;
    opacity: 0.8;
}

.team-AlphaTauri {
    fill: #2B4562;
    stroke: #2B4562;
    opacity: 0.8;
}

.team-Manor-Marussia {
    fill: #E40000;
    stroke: #E40000;
    opacity: 0.8;
}

/* Links opacity */
.link {
    stroke-opacity: 0.4;
}

/* Text color */
.text-McLaren {
    color: #FF8700;
}

.text-Mercedes {
    color: #00D2BE;
}

.text-Renault {
    color: #FFF500;
}

.text-Ferrari {
    color: #DC0000;
}

.text-Aston-Martin {
    color: #006F62;
}

.text-Alpine-F1-Team {
    color: #0090FF;
}

.text-Lotus {
    color: #FFB800;
}

.text-Caterham {
    color: #00352F;
}

.text-Lotus-F1 {
    color: #FFB800;
}

.text-Alfa-Romeo {
    color: #900000;
}

.text-Williams {
    color: #005AFF;
}

.text-Virgin {
    color: #E31837;
}

.text-Marussia {
    color: #D40000;
}

.text-Force-India {
    color: #FF8700;
}

.text-Sauber {
    color: #006EFF;
}

.text-Red-Bull {
    color: #1E41FF;
}

.text-HRT {
    color: #BEBEBE;
}

.text-Toro-Rosso {
    color: #0032FF;
}

.text-Haas-F1-Team {
    color: #787878;
}

.text-Racing-Point {
    color: #F596C8;
}

.text-AlphaTauri {
    color: #2B4562;
}

.text-Manor-Marussia {
    color: #E40000;
}

/* Team info overlay */
.teamInfo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.04);
    /*add border and shador*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    z-index: 10;
    pointer-events: none;
}

.teamInfo h2 {
    margin: 0 0 10px 0;
    font-size: 2.2rem;
}

.teamInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(240, 240, 240);
}

.teamInfo li {
    margin-bottom: 5px;
}
