.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.play {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    color: #FFFFFF;
}

.play:hover {
    transform: scale(1.15);
}

.year {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    cursor: pointer;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Updated to fill available space */
    cursor: pointer;
    outline: none;
}

input[type="range"] {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 100px; /* Adjust height as needed */
    width: 100px;  /* Adjust width as needed */
    background: url('../../img/f1_t.png') no-repeat center;
    background-size: contain; /* Ensure the image fits within the thumb */
    border: none; /* Remove border to avoid cropping */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 100px; /* Adjust height as needed */
    width: 100px;  /* Adjust width as needed */
    background: url('../../img/f1_t.png') no-repeat center;
    background-size: contain; /* Ensure the image fits within the thumb */
    border: none; /* Remove border to avoid cropping */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    box-shadow: -800px 0 0 800px #AAAAAA;
}

input[type="range"] {
    overflow: hidden;
    border-radius: 16px;
}